{{#if files}}
<div class="detail-header">
    <h1>
        <a href="/">{{> home-icon}}</a>
        <span>{{name}}</span>
    </h1>
    <a href="/download/{{name}}" class="download">Download</a>
</div>
<div class="detail-indicators">
    <button type="button" data-type="navigation" onclick="selectIndicator('previous')">
        {{>previous-icon}}
    </button>
    <section id="indicators">
        {{#each files}}
        <button data-index="{{index}}" data-url="{{url}}" onclick="selectIndicator('{{url}}', {{index}})">
            {{add index 1 }}
        </button>
        {{/each}}
    </section>
    <button type="button" data-type="navigation" onclick="selectIndicator('next')">
        {{> next-icon}}
    </button>
</div>
<div class="detail-preview-wrapper">
    <div class="detail-preview">
        <div class="toolbar">
            <h5 id="toolbar-url">{{selected.url}}</h5>
            <div class="toolbar-menu">
                {{> circle-icon}}
                {{> circle-icon}}
                {{> circle-icon}}
            </div>
        </div>
        <iframe id="preview" src="{{selected.url}}"></iframe>
    </div>
</div>
{{else}}
<div class="detail-header">
    <h1>
        <a href="/">{{> home-icon}}</a>
        <span>{{name}}</span>
    </h1>
</div>
<div class="detail-preview">
    <div class="detail-message">
        <p>{{message}}</p>
    </div>
</div>
{{/if}}