<!DOCTYPE html>
<html lang="{{locale}}">

<head>
    <meta charset="utf-8">
    <title>Web Templates</title>
    <meta name="description" content="Simple HTML, CSS Template">
    <meta name="author" content="Ferry L. H.">
    <link href="/favicon.ico" rel="icon" />

    <style type="text/css">
        {{{lightVariables}}}
        {{{darkVariables}}}
    </style>

    {{#if (isProduction)}}
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
        <% } %>
            {{else}}
            <link href="/assets/css/index.css" rel="stylesheet" />
            {{/if}}

</head>

<body class="{{theme}}">
    <button type="button" class="toggle-menu" id="toggle-menu" onclick="window.toggleSidebar()">
        {{> menu-icon}}
    </button>
    <aside class="sidebar">
        <header>
            <h1>
                {{> logo-icon}}
            </h1>
            <h2>Web Templates</h2>

            <button type="button" onclick="window.toggleSidebar()">
                {{> close-icon}}
            </button>
        </header>
        <div class="header-menu">
            {{> language-menu}}
            {{> theme-toggle}}
        </div>

        <section class="accordion">
            <a class="link {{eqPathClass '/' currentPath}}" href="/">
                <section>
                    {{>home-icon}}
                    <span>{{t 'home'}}</span>
                </section>
            </a>
            <div class="accordion-tab">
                <input type="checkbox" name="theme" id="theme" {{eqPathChecked '/theme' currentPath}}>
                <label for="theme" class="accordion-tab-label link">
                    <section>
                        {{>folder-icon}}
                        <span>{{t 'theme'}}</span>
                    </section>
                </label>
                <div class="accordion-content">
                    <ul>
                        <li>
                            <a href="/theme/light" class="{{eqPathClass "/theme/light" @root.currentPath}}">{{t
                                'light'}}</a>
                        </li>
                        <li>
                            <a href="/theme/dark" class="{{eqPathClass "/theme/dark" @root.currentPath}}">{{t
                                'dark'}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <h5>Templates</h5>
            {{templates }}
            {{#each templates}}
            <div class="accordion-tab">
                <input type="checkbox" name="accordion" id="{{templateName}}">
                <label for="{{templateName}}" class="accordion-tab-label link">
                    <section>
                        {{>folder-icon}}
                        <span>{{templateName}}</span>
                    </section>
                </label>
                <div class="accordion-content">
                    <ul>
                        {{#each files}}
                        {{setVar "currentTemplatePath" (concat '/detail/' ../templateName relativePath)}}
                        <li><a href="{{@root.currentTemplatePath}}"
                                class="{{eqPathClass @root.currentTemplatePath @root.currentPath}}">{{relativePath}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </section>

    </aside>
    <main class="main">
        {{{body}}}
    </main>
    <div class="overlay" onclick="window.toggleSidebar()"></div>

    {{#if (isProduction)}}
    <% for (var js in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[js] %>" defer="defer"></script>
        <% } %>
            {{else}}
            <script src="/assets/js/main.js" defer="defer"></script>
            {{/if}}



</body>

</html>