<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Web Templates</title>
    <meta name="description" content="Simple HTML, CSS Template">
    <meta name="author" content="Ferry L. H.">
    <link href="/favicon.ico" rel="icon" />
    <link href="/assets/css/normalize.css" rel="stylesheet" />
    <link href="/assets/css/github.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
</head>

<body>
    <button type="button" class="toggle-menu" onclick="toggleSidebar()">
        {{> menu-icon}}
    </button>
    <aside class="sidebar">
        <header>
            <h1>
                {{> logo-icon}}
            </h1>
            <h2>Web Templates</h2>

            <button type="button" onclick="toggleSidebar()">
                {{> close-icon}}
            </button>
        </header>
        <section>
            {{templates }}
            <ul id="sidebar-menu">
                {{#each templates}}
                <li>
                    <a href="/detail/{{templateName}}" class="folder">{{templateName}}</a>
                    <ul>
                        {{#each files}}
                        <li><a href="/detail/{{../templateName}}{{relativePath}}" class="file">{{relativePath}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>

        </section>
    </aside>
    <main>
        {{{body}}}
    </main>
    <div class="overlay" onclick="toggleSidebar()"></div>
    <script src="/assets/js/main.js" defer="defer"></script>
</body>

</html>