<!DOCTYPE html>
<html lang="{{locale}}">

<head>
    <meta charset="utf-8">
    <title>Web Templates</title>
    <meta name="description" content="Simple HTML, CSS Template">
    <meta name="author" content="Ferry L. H.">
    <link href="/favicon.ico" rel="icon" />

    {{#if (isProduction)}}
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
        <% } %>
            {{else}}
            <link href="/assets/css/index.css" rel="stylesheet" />
            {{/if}}

</head>

<body>
    <button type="button" class="toggle-menu" id="toggle-menu" onclick="window.toggleSidebar()">
        {{> menu-icon}}
    </button>
    <aside class="sidebar">
        <header>
            <h1>
                {{> logo-icon}}
            </h1>
            <h2>Web Templates</h2>

            <button type="button" onclick="window.toggleSidebar()">
                {{> close-icon}}
            </button>
        </header>
        <div class="header-menu">
            <div class="dropdown">
                <input type="checkbox" id="dropdown-trigger-input">
                <label class="dropdown-trigger" for="dropdown-trigger-input">
                    <img src="/assets/image/{{locale}}.png" />
                    <span>{{#if (eq locale "en")}} English {{else}} Indonesia {{/if}}</span>
                    <span class="arrow-down"></span>
                </label>
                <ul class="dropdown-content" id="dropdown-content">
                    <li>
                        <a href="?lang=id" class="{{#if (eq locale "id")}}selected{{/if}}"><img src="/assets/image/id.png" /><span>Indonesia</span></a>
                    </li>
                    <li>
                        <a href="?lang=en" class="{{#if (eq locale "en")}}selected{{/if}}"><img src="/assets/image/en.png" /><span>English</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <section class="accordion">
            <a class="link {{eqPathClass '/' currentPath}}" href="/">
                <section>
                    {{>home-icon}}
                    <span>{{t 'home'}}</span>
                </section>
            </a>
            {{templates }}
            {{#each templates}}
            <div class="accordion-tab">
                <input type="radio" name="accordion" id="{{templateName}}" {{eqPathChecked templateName
                    ../templateName}}>
                <label for="{{templateName}}"
                    class="accordion-tab-label link {{eqPathClass templateName ../templateName}}">
                    <section>
                        {{>folder-icon}}
                        <span>{{templateName}}</span>
                    </section>
                </label>
                <div class="accordion-content">
                    <ul>
                        {{#each files}}
                        {{setVar "currentTemplatePath" (concat '/detail/' ../templateName relativePath)}}
                        <li><a href="{{@root.currentTemplatePath}}"
                                class="{{eqPathClass @root.currentTemplatePath @root.currentPath}}">{{relativePath}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </section>

    </aside>
    <main>
        {{{body}}}
    </main>
    <div class="overlay" onclick="window.toggleSidebar()"></div>

    {{#if (isProduction)}}
    <% for (var js in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[js] %>" defer="defer"></script>
        <% } %>
            {{else}}
            <script src="/assets/js/main.js" defer="defer"></script>
            {{/if}}



</body>

</html>