<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Web Templates</title>
    <meta name="description" content="Simple HTML, CSS Template">
    <meta name="author" content="Ferry L. H.">
    <link href="/favicon.ico" rel="icon" />

    {{#if (isProduction)}}
    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
        <% } %>
            {{else}}
            <link href="/assets/css/normalize.css" rel="stylesheet" />
            <link href="/assets/css/accordion.css" rel="stylesheet" />
            <link href="/assets/css/tabs.css" rel="stylesheet" />
            <link href="/assets/css/github.css" rel="stylesheet" />
            <link href="/assets/css/hljs.css" rel="stylesheet" />
            <link href="/assets/css/main.css" rel="stylesheet" />
            {{/if}}

</head>

<body>
    <button type="button" class="toggle-menu" id="toggle-menu" onclick="window.toggleSidebar()">
        {{> menu-icon}}
    </button>
    <aside class="sidebar">
        <header>
            <h1>
                {{> logo-icon}}
            </h1>
            <h2>Web Templates</h2>

            <button type="button" onclick="window.toggleSidebar()">
                {{> close-icon}}
            </button>
        </header>

        <section class="accordion">
            <a class="link {{eqPathClass '/' currentPath}}" href="/">
                <section>
                    {{>home-icon}}
                    <span>Home</span>
                </section>
            </a>
            {{templates }}
            {{#each templates}}
            <div class="accordion-tab">
                <input type="radio" name="accordion" id="{{templateName}}" {{eqPathChecked templateName
                    ../templateName}}>
                <label for="{{templateName}}"
                    class="accordion-tab-label link {{eqPathClass templateName ../templateName}}">
                    <section>
                        {{>folder-icon}}
                        <span>{{templateName}}</span>
                    </section>
                </label>
                <div class="accordion-content">
                    <ul>
                        {{#each files}}
                        {{setVar "currentTemplatePath" (concat '/detail/' ../templateName relativePath)}}
                        <li><a href="{{@root.currentTemplatePath}}"
                                class="{{eqPathClass @root.currentTemplatePath @root.currentPath}}">{{relativePath}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </section>

    </aside>
    <main>
        {{{body}}}
    </main>
    <div class="overlay" onclick="window.toggleSidebar()"></div>

    {{#if (isProduction)}}
    <% for (var js in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[js] %>" defer="defer"></script>
        <% } %>
            {{else}}
            <script src="/assets/js/main.js" defer="defer"></script>
            {{/if}}



</body>

</html>